* {
    margin: 0;
}

header {
    overflow: auto;
}

header>img {
    max-width: 60px;
    max-height: 60px;
}

header>nav {
    float: right;
    padding: 20px 0 19px 0;
}

header>nav>a {
    color: black;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    padding: 20px 30px;
}

header>nav>a:hover {
    background-color: black;
    color: white;
}

.homemade {
    background-image: url('./images/soup.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white
}

.homemade>h1 {
    font-family: 'Playfair Display', serif;
    font-size: 6vw;
    font-weight: normal;
    padding: 50vh 0 3vh 10vw;
    text-shadow: 0 0 10px black;
}

.homemade>p {
    font-family: sans-serif;
    padding-left: 10vw;
}

.normalLink {
    text-decoration: none;
    font-weight: bold;
    color: #fe7606;
}

#homemade_learn_more {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    font-family: sans-serif;
    border: 3px solid #fe7606;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    color: #fe7606;
    margin: 5vh 0 7vh 10vw;
    transition: background-color 0.2s, color 0.2s;
}

#homemade_learn_more:hover {
    color: white;
    background-color: #fe7606;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 3vw;
    padding: 0 3vw;
}

.menu img {
    max-width: 100%;
    height: 60vh;
}

.menu>#menu2 {
    background-color: #fcdb03;
    padding: 3rem;
}

.menu>#menu2>h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 8vw;
}

.menu>#menu2>p {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 2.15rem;
}

.menu>#menu2>#menu_learn_more {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    border: 4px solid black;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    background-color: transparent;
    transition: background-color 0.2s, color 0.2s;
}

.menu>#menu2>#menu_learn_more:hover {
    background-color: black;
    color: #fcdb03;
}

.onlineCooking {
    background-image: url('./images/online-cooking.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.onlineCooking>h1 {
    padding: 150px 0 50px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 5vw;
    text-shadow: 0 0 10px white;
}

.onlineCooking>p {
    color: white;
    font-style: italic;
    font-size: 1.15rem;
    padding: 10px 0 30px 0;
}

.onlineCooking>strong {
    color: white;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.onlineCooking>strong>b {
    color: aqua;
}

.advantages {
    display: flex;
    justify-content: center;
    padding: 60px;
}

#card1 {
    background-color: white;
    color: black;
    padding: 30px 30px 80px 60px;
    text-align: left;
    margin: 0 20px;
}

#card1>h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 5vw;
    padding: 10px 5px;
}

#card1>h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 3vw;
    padding: 10px 5px;
}

#card1>p {
    font-style: sans-serif;
    font-size: 1.3rem;
}

#online_cooking_1 {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    border: 4px solid black;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    background-color: transparent;
    transition: background-color 0.2s, color 0.2s;
}

#online_cooking_1:hover {
    background-color: black;
    color: white;
}

#card2 {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 30px 30px 80px 60px;
    text-align: left;
    margin: 0 20px;
}

#card2>h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 5vw;
    padding: 10px 5px;
    color: #db545a;
}

#card2>h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 3vw;
    padding: 10px 5px;
}

#card2>p {
    font-style: sans-serif;
    font-size: 1.3rem;
}

#online_cooking_2 {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    border: 4px solid white;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    background-color: transparent;
    transition: background-color 0.2s, color 0.2s;
}

#online_cooking_2:hover {
    background-color: white;
    color: black;
}

#card3 {
    background-color: #478ac9;
    color: white;
    padding: 30px 30px 80px 60px;
    text-align: left;
    margin: 0 20px;
}

#card3>h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 5vw;
    padding: 10px 5px;
    color: wite;
}

#card3>h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 3vw;
    padding: 10px 5px;
}

#card3>p {
    font-style: sans-serif;
    font-size: 1.3rem;
}

#online_cooking_3 {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    border: 4px solid white;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    background-color: transparent;
    transition: background-color 0.2s, color 0.2s;
}

#online_cooking_3:hover {
    background-color: white;
    color: #478ac9;
}

#asian_food_left {
    display: inline-block;
    width: 49vw;
    text-align: right;
}

#asian_food_left>h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 6vw;
    padding: 90px 10px 50px 0;
}

#asian_food_left>p {
    display: inline-block;
    width: 25vw;
    font-family: sans-serif;
    font-size: 1.3rem;
    padding: 30px 10px 70px 0;
}

#asian_food_right {
    width: 49vw;
    text-align: left;
    background-color: #f1c50e;
    float: right;
}

#asian_food_right>h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 6vw;
    padding: 90px 0 50px 20px;
}

#asian_food_right>p {
    display: inline-block;
    width: 25vw;
    font-family: sans-serif;
    font-size: 1.3rem;
    padding: 30px 0 70px 20px;
}

.imageList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

#img1,
#img2,
#img3 {
    width: 100%;
    max-width: 33vw;
    max-height: 50vh;
    object-fit: cover;
}

.meatAndFish {
    display: grid;
    grid-template-columns: 43% 14% 43%;
    margin-top: 100px;
}

.meatAndFish>img {
    width: 100%;
}

.meatAndFish>#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1c50e;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.5vw;
}

#meat_and_fish {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.farmProducts {
    display: flex;
    padding: 50px 20px;
}

.farmProducts>img {
    width: 35%;
    padding: 90px 30px;
}

.farmProducts>div {
    padding: 90px 30px;
}

.farmProducts>div>h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    padding-bottom: 50px;
}

.farmProducts>div>p {
    font-size: 1.5rem;
}

#farm_products {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: #478ac9;
    font-family: sans-serif;
    border: 4px solid #478ac9;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    background-color: transparent;
    transition: background-color 0.2s, color 0.2s;
}

#farm_products:hover {
    color: white;
    background-color: #478ac9;
}

.freshFoodEveryday {
    display: flex;
    align-items: flex-end;
    padding-bottom: 100px;
    background-image: url('./images/pizza-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 800px;
    color: white;
}

.freshFoodEveryday>div {
    display: inline-block;
    padding: 0 200px;
    width: 25vw;
}

.freshFoodEveryday>div>h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    padding-bottom: 30px;
}

.freshFoodEveryday>div>p {
    align-self: flex-start;
    font-family: sans-serif;
    line-height: 30px;
    font-size: 1.5rem;
}

#fresh_food_everyday {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    border: 4px solid white;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    background-color: transparent;
    transition: background-color 0.2s, color 0.2s;
}

#fresh_food_everyday:hover {
    background-color: white;
    color: black;
}

.listLogos {
    align-self: flex-end;
    display: flex;
}

.listLogos img {
    width: 100px;
    height: 100px;
}

.listLogos h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    padding: 0 30px 30px 0
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 200px;
    background-color: #478ac9;
    height: 200px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

footer>h3 {
    font-size: 1.5rem;
    padding: 10px 0;
}

footer>p {
    padding: 2px 0;
}